* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 220px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 2rem;
}

.map-section{
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    padding: 2rem;
    border: 1px solid rgba(245, 241, 232, 0.1)
}

.map-title {
    font-size: 2.5em;
    color: #f5f1e8;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}